@{
    ViewData["Title"] = "首頁";
}

<div class="text-center">
    <h1 class="display-4">歡迎來到購物車網站</h1>
    <p class="lead">這是一個使用 ASP.NET Core MVC + Bootstrap 製作的購物車系統</p>
    <a class="btn btn-primary btn-lg mt-3" asp-controller="Products" asp-action="Index">開始選購</a>
</div>
